<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iread">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".temp.ui.activities.ReadActivity" />
        <activity android:name=".temp.ui.activities.HomePage.bk6" />
        <activity android:name=".temp.ui.activities.HomePage.bk5" />
        <activity android:name=".temp.ui.activities.HomePage.bk4" />
        <activity android:name=".temp.ui.activities.HomePage.bk3" />
        <activity android:name=".temp.ui.activities.HomePage.bk2" />
        <activity android:name=".temp.ui.activities.HomePage.bk1" />
        <activity android:name=".temp.ui.activities.HomePage.u1" />
        <activity android:name=".temp.ui.activities.HomePage.n1" />
        <activity android:name=".temp.ui.activities.HomePage.l1" />
        <activity android:name=".temp.ui.activities.HomePage.latest" />
        <activity android:name=".temp.ui.activities.HomePage.top10" />
        <activity android:name=".temp.ui.activities.HomePage.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".temp.ui.activities.BookListActivity"
            android:label="@string/title_listbooks"
            android:parentActivityName=".temp.ui.activities.HomePage.HomeActivity"></activity>
    </application>

</manifest>